<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: myHead}">
</head>
<body >
<div th:class="paycheckBody">
    <div th:class="paycheckList">
        <div th:class="formHeader">
            <h2>Lists of Paychecks</h2>
        </div>
        <div th:class="paycheckListTable">
            <div th:class="paycheckListHeader">
                <!-- TODO: Make this dynamic -->
                Month - Year - Selector
            </div>
        <!--
        TODO: We are going to redo this, this will print a list of CONTAINERS
         We will also have the top part just say, Month, Year, and ability to select
        -->
            <div th:class="paycheckListTbody">
                <div th:each="paycheck : ${paycheckList}">
    <!--          <td><a th:href="@{../index/{id} (id = ${paycheck.id})}"><button></button></a> </td>-->
                    <div th:class="paycheckListTbodyItemContainer">
                        <a  th:href="@{../paycheck/{id} (id = ${paycheck.id})}"><button th:class="paycheckListButton">Edit</button></a>
                        <div th:text="${paycheck.paycheckName}"/>
                        <div th:text="${paycheck.paycheckAmount}"/>
                        <div th:text="${paycheck.paycheckDate}"/>
                        <div th:text="${paycheck.daysBetweenCheck}"/>
                        <button>Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:class="addPaycheck">
        <h2 th:class="'formHeader addPaycheckForm'">Add a New Paycheck</h2><br>
        <form action="saveCheck" method="post" th:class="addPaycheckForm">
            <label for="paycheckName" th:class="formLabel">Paycheck Name</label><br>
            <input type="text" name="paycheckName" id="paycheckName" th:class="formInput"><br><br>
            <label for="paycheckAmount" th:class="formLabel">Paycheck Amount</label><br>
            <input type="number" name="paycheckAmount" id="paycheckAmount" step="0.01" th:class="formInput"><br><br>
            <label for="paycheckDate" th:class="formLabel">Paycheck Date</label><br>
            <input type="date" name="paycheckDate" id="paycheckDate" th:class="formInput"><br><br>
            <label for="dayName" th:class="formLabel">Name of Day</label><br>
            <input type="text" name="dayName" id="dayName" th:class="formInput"><br><br>
            <label for="daysBetweenCheck" th:class="formLabel">Days Between Check</label><br>
            <input type="number" name="daysBetweenCheck" id="daysBetweenCheck" th:class="formInput"><br><br>
            <button type="submit">Save</button>
        </form>
    </div>
</div>
</body>
</html>